$Color1: rgba(45, 186, 108, 1);
$Color2: #001020;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.home-wrapper {
  width: 100%;

  .home_page {
    width: 100%;
    height: 100vh;
    background-image: url("./images/bg1.jpg");
    background-size: cover;

    .navbar_box {
      width: 100%;
    }

    .home_contents {
      height: calc(100vh - 100px);
      display: flex;
      align-items: center;

      .left_side {
        width: 60%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 40px 40px 60px;

        .home_text {
          width: 70%;
          background-color: white;
          padding: 25px;
          border-radius: 32px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

          .main-text {
            font-size: 48px;
            font-weight: 700;
            line-height: 56px;
            color: rgba(20, 20, 20, 1);
          }

          .des {
            margin-top: 10px;
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;
            color: rgba(111, 112, 112, 1);

          }

          .buttons {
            margin-top: 25px;
            display: flex;
            align-items: center;
            justify-content: space-around;

            .button-client {
              padding: 15px 20px;
              background-color: rgba(45, 186, 108, 1);
              text-decoration: none;
              color: white;
              cursor: pointer;
              border-radius: 8px;
              transition: 0.3s;

              &:hover {
                background-color: rgb(37, 154, 90);
              }
            }

            .button-driver {
              padding: 15px 20px;
              background-color: rgba(246, 248, 250, 1);
              text-decoration: none;
              color: rgba(20, 20, 20, 1);
              cursor: pointer;
              border-radius: 8px;
              transition: 0.3s;

              &:hover {
                background-color: rgb(231, 233, 236);
              }
            }

          }
        }
      }

      .right_side {
        width: 40%;
        height: 100%;
        padding: 30px 60px 40px 0px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .home_form_box {
          width: 85%;
          height: auto;
          background-color: rgba(255, 255, 255, 0.4);
          border-radius: 20px;
          padding: 25px 25px 25px 25px;

          .title_form {
            font-size: 25px;
            line-height: 37.5px;
            color: $Color2;
            font-weight: 800;
            margin-bottom: 20px;
          }

          .input_box {
            width: 100%;

            select {
              width: 100%;
              height: 50px;
              border-radius: 8px;
              background-color: white;
              border: 0.5px solid #979797;
              padding-left: 25px;
              margin-top: 10px;
              margin-bottom: 20px;
              font-size: 16px;

              &:focus {
                outline: 2px solid $Color2;
              }
            }

            label {
              color: white;
              line-height: 24px;
              font-size: 18px;
              font-weight: 600;
            }

            input {
              margin-top: 10px;
              width: 100%;
              height: 50px;
              border-radius: 8px;
              background-color: white;
              border: 0.5px solid #979797;
              padding-left: 25px;
              font-size: 16px;

              &:focus {
                outline: 2px solid $Color2;
              }
            }
          }

          .description_form {
            margin-top: 15px;
            color: white;
            line-height: 16.5px;
            font-size: 11px;
          }

          .send_btn {
            cursor: pointer;
            margin: 20px auto 0 auto;
            padding: 10px 25px 10px 25px;
            border: none;
            background-color: $Color2;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            border-radius: 8px;

            &:focus {
              outline: none;
            }

            img {
              margin-right: 15px;
            }
          }
        }
      }

      .left_side_mobile {
        display: none;
      }
    }
  }

  .usually-wrapper {
    padding: 80px 150px 120px 150px;
    width: 100%;
    background-color: white;

    .title {
      font-size: 40px;
      color: rgba(20, 20, 20, 1);
      line-height: 48px;
      font-weight: 700;
    }

    .bottom-contents {
      margin-top: 32px;
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      .use-card {
        width: 22%;

        .icon-circle {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          border: 1px solid rgba(0, 0, 0, 0.12);
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            width: 55%;
          }

        }

        .name {
          margin-top: 12px;
          font-weight: 600;
          color: rgba(20, 20, 20, 1);
          font-size: 18px;
          line-height: 28px;
        }

        .des {
          margin-top: 10px;
          color: rgba(111, 112, 112, 1);
          font-size: 16px;
          line-height: 24px;
          font-weight: 400;
        }
      }
    }
  }

  .section_two {
    margin-top: 10px;
    width: 100%;
    background-size: cover;
    background-color: rgba(246, 248, 250, 1);

    .main_card {
      padding: 60px 150px;
      width: 100%;

      position: relative;

      .title {
        font-size: 40px;
        font-weight: 700;
        color: rgba(20, 20, 20, 1);
        line-height: 48px;
      }

      .header {
        margin-top: 30px;
        width: 100%;
        display: flex;
        align-items: center;

        .item-tab {
          cursor: pointer;
          margin-right: 15px;
          padding: 10px 20px;
          border-radius: 8px;
          color: rgba(170, 172, 173, 1);
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 500;
          font-size: 16px;
          transition: 0.3s;

          &:hover {
            background-color: $Color1;
            color: white;
          }
        }

        .tab-active {
          background-color: $Color1;
          border: none;
          color: white;
        }

      }

      .header-tarifs {
        margin-top: 30px;
        width: 100%;
        display: flex;
        align-items: center;


        .item-tab {
          cursor: pointer;
          margin-right: 15px;
          color: rgba(170, 172, 173, 1);
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 500;
          font-size: 14px;
          transition: 0.3s;
          position: relative;

          &::after {
            position: absolute;
            bottom: -10px;
            content: "";
            width: 100%;
            height: 4px;
            background-color: transparent;
            border-radius: 50px;
          }

          &:hover {
            color: rgba(20, 20, 20, 1);

            &::after {
              background-color: rgba(45, 186, 108, 1);
            }
          }
        }

        .tab-active {
          &::after {
            background-color: rgba(45, 186, 108, 1);
          }

          color: rgba(20, 20, 20, 1);
        }

      }

      .body {
        padding-top: 20px;
        border-top: 1px solid rgba(0, 0, 0, 0.12);
        margin-top: 20px;
        color: rgba(20, 20, 20, 1);
        width: 100%;
        height: 100%;
        display: flex;

        .left-side {
          width: 30%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          .form-box {
            margin-top: 20px;
            width: 80%;

            label {
              font-size: 14px;
            }

            select {
              border: 1px solid #00c389;
              margin-top: 6px;
              padding-left: 10px;
              padding-right: 10px;
              width: 100%;
              height: 40px;
              border-radius: 10px;

              &:focus {
                outline: none;
              }
            }
          }
        }

        .right-side {
          width: 70%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          padding-left: 100px;

          .item-lists {
            margin-top: 12px;
            width: 100%;
            font-size: 16px;
            line-height: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            padding-bottom: 8px;
            padding-left: 40px;

            .title-info {
              img {
                width: 250px;
              }

              .name {
                text-align: center;
                margin-top: 20px;
                font-size: 20px;
                font-weight: bold;
              }

              .price {
                b {
                  color: #00c389;
                  font-size: 22px;
                }

                color: #2b2b2b;
                font-size: 20px;
              }
            }
          }
        }
      }
    }

    .mobile-main-card {
      display: none;
    }
  }

  .usually-wrapper-step {
    margin-top: 80px;
    width: 100%;
    background-color: rgba(246, 248, 250, 1);
    padding: 80px 150px;

    .title {
      font-size: 40px;
      color: rgba(20, 20, 20, 1);
      line-height: 48px;
      font-weight: 700;
    }

    .bottom-contents {
      margin-top: 32px;
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;

      .use-card {
        width: 22%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .icon-circle {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: white;
          font-weight: bold;
          font-size: 18px;

          img {
            width: 55%;
          }

        }

        .name {
          margin-top: 12px;
          font-weight: 600;
          color: rgba(20, 20, 20, 1);
          font-size: 18px;
          line-height: 28px;
        }

        .des {
          margin-top: 10px;
          color: rgba(111, 112, 112, 1);
          font-size: 16px;
          line-height: 24px;
          font-weight: 400;
          text-align: center;
        }
      }

      img {
        margin-right: 15px;
        margin-top: 10px;
        width: 24px;
      }
    }
  }

  .count-wrapper {
    margin-top: 80px;
    width: 100%;
    background-color: rgba(246, 248, 250, 1);
    padding: 80px 150px;

    .title {
      font-size: 40px;
      line-height: 48px;
      font-weight: 700;
      color: rgba(20, 20, 20, 1);
    }

    .des {
      margin-top: 10px;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: rgba(20, 20, 20, 1);
    }

    .counts {
      margin-top: 60px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .count {
        .num {
          color: rgba(45, 186, 108, 1);
          font-size: 48px;
          line-height: 56px;
          font-weight: 700;
          letter-spacing: 0.12px;
        }

        .text {
          font-weight: 400;
          font-size: 16px;
          color: rgba(170, 172, 173, 1);
          letter-spacing: -0.08px;
          line-height: 24px;
        }

      }
    }

  }

  .home_sections {
    width: 100%;
    padding: 80px 150px 40px 150px;

    .title-comment {
      text-align: center;
      font-size: 40px;
      color: rgba(20, 20, 20, 1);
      font-weight: 700;
      line-height: 48px;
    }

    .saction_one {
      margin-top: 80px;
      width: 100%;
      height: 380px;
      background: rgb(51, 152, 96);
      background: linear-gradient(90deg, rgba(51, 152, 96, 1) 0%, rgba(45, 186, 108, 1) 100%);
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .left_side {
        padding: 70px;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .top_text {
          font-weight: 700;
          font-size: 32px;
          color: white;
          line-height: 40px;
        }

        .des {
          margin-top: 24px;
          font-size: 16px;
          line-height: 24px;
          font-weight: 400;
          color: white;
        }

        .bottom_btns {
          width: 100%;
          display: flex;
          align-items: center;

          a {
            text-decoration: none;
            margin-right: 20px;
          }

          .app-btn {
            cursor: pointer;
            margin-top: 30px;
            background-color: rgba(255, 255, 255, 0.3);
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            padding: 8px 20px;

            .left {
              img {
                width: 30px;
              }
            }

            .right {
              margin-left: 10px;

              .top-text {
                font-size: 12px;
                line-height: 10px;
              }

              .bottom-text {
                font-weight: bold;
              }
            }
          }
        }
      }

      .right_side {
        width: 40%;
        height: 100%;

        img {
          margin-top: -100px;
          margin-left: -100px;
          width: 120%;
        }
      }
    }

    .saction_one-client {
      margin-top: 80px;
      width: 100%;
      height: 380px;
      background: rgb(51, 152, 96);
      background: linear-gradient(90deg, rgba(51, 152, 96, 1) 0%, rgba(45, 186, 108, 1) 100%);
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .left_side {
        padding: 70px;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .top_text {
          font-weight: 700;
          font-size: 32px;
          color: white;
          line-height: 40px;
        }

        .des {
          margin-top: 24px;
          font-size: 16px;
          line-height: 24px;
          font-weight: 400;
          color: white;
        }

        .bottom_btns {
          width: 100%;
          display: flex;
          align-items: center;

          a {
            text-decoration: none;
            margin-right: 20px;
          }

          .app-btn {
            cursor: pointer;
            margin-top: 30px;
            background-color: rgba(255, 255, 255, 0.3);
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            padding: 8px 20px;

            .left {
              img {
                width: 30px;
              }
            }

            .right {
              margin-left: 10px;

              .top-text {
                font-size: 12px;
                line-height: 10px;
              }

              .bottom-text {
                font-weight: bold;
              }
            }
          }
        }
      }

      .right_side {
        width: 40%;
        height: 100%;

        img {
          margin-top: -100px;
          margin-right: -100px;
          width: 120%;
        }
      }
    }

    .carousel-comment {
      margin-top: 60px;
      width: 100%;

      .slide img {
        padding: 5px;
        border-radius: 50%;
        object-fit: cover;
        width: 200px;
        height: 200px;
        margin: 0 auto;
        border: 3px solid transparent;
      }

      .slide {
        margin-top: 30px;
        transform: scale(0.55);
        transition: transform 300ms;
        opacity: 0.5;
        margin-bottom: 30px;

        &:focus {
          outline: none;
        }
      }

      .activeSlide {
        transform: scale(1.08);
        opacity: 1;

        img {
          border: 3px solid rgba(45, 186, 108, 1);
        }
      }

      .des-person {
        width: 60%;
        height: 80px;
        margin: 15px auto 10px auto;
        text-align: center;
        font-size: 20px;
      }

      .name-person {
        margin-top: 10px;
        font-weight: bold;
        text-align: center;
        font-size: 24px;
      }
    }
  }

  .quations-container {
    margin-top: 20px;
    padding-left: 12%;
    padding-right: 12%;
    width: 100%;
    margin-bottom: 100px;

    .title {
      text-align: center;
      font-size: 40px;
      color: rgba(20, 20, 20, 1);
      font-weight: 700;
      line-height: 48px;
      margin-bottom: 40px;
    }

    .quation {
      width: 100%;
      padding: 40px;
      transition: 0.3s linear;

      .top-side {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .number {
          font-size: 48px;
          font-weight: 700;
          line-height: 57.6px;
          letter-spacing: 0.25px;
          color: rgba(157, 150, 168, 1);
        }

        .title {
          width: 80%;
          font-size: 26px;
          font-weight: 700;
          line-height: 38.4px;
        }

        .button {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          transition: 0.3s linear;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          img {
            width: 40%;
          }

          &:hover {
            background-color: rgba(45, 186, 108, 1);
          }
        }

        .rotate-icon {
          transform: rotate(45deg);
          background-color: rgba(45, 186, 108, 1);
        }
      }

      .des-quation {
        margin: 10px auto;
        width: 80%;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
      }
    }

    .active {
      background-color: rgba(45, 186, 108, 0.1);
    }
  }

  .form-wrapper {
    .title {
      margin: 0 auto;
      width: 50%;
      font-size: 40px;
      color: rgba(20, 20, 20, 1);
      font-weight: 700;
      text-align: center;
    }

    .des {
      margin: 10px auto;
      width: 30%;
      text-align: center;
      color: rgba(20, 20, 20, 1);
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;

      a {
        text-decoration: none;
        color: rgba(45, 186, 108, 1);
        cursor: pointer;
      }
    }

    .form-box {
      margin-top: 40px;
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: center;

      .input-box {
        label {
          display: block;
          font-size: 13px;
          color: rgba(20, 20, 20, 1);
          line-height: 20px;
          font-weight: 4000;
          margin-bottom: 8px;
        }

        input {
          padding-left: 15px;
          width: 370px;
          height: 45px;
          border-radius: 10px;
          border: none;
          background-color: rgba(246, 248, 250, 1);
          margin-right: 15px;

          &:focus {
            outline: 1px solid rgba(45, 186, 108, 1);
          }
        }

        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        input[type="number"] {
          -moz-appearance: textfield;
        }
      }

      .send-btn {
        margin-left: 10px;
        cursor: pointer;
        padding: 10px 25px 10px 25px;
        border: none;
        background-color: rgba(45, 186, 108, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        border-radius: 8px;
        transition: 0.3s;

        &:focus {
          outline: none;
        }

        &:hover {
          background-color: rgb(38, 161, 93);
        }
      }
    }

  }
}

@media (max-width: 834px) {
  .home-wrapper {
    .home_page {
      .navbar_box {
        width: 100%;
      }

      .home_contents {
        height: calc(100vh - 100px);
        display: flex;
        align-items: center;

        .left_side {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 15px 10px 15px;

          .home_text {
            width: 100%;
            background-color: white;
            padding: 25px;
            border-radius: 32px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

            .main-text {
              font-size: 35px;
              font-weight: 700;
              line-height: 56px;
              color: rgba(20, 20, 20, 1);
            }

            .des {
              margin-top: 10px;
              font-size: 16px;
              font-weight: 400;
              line-height: 28px;
              color: rgba(111, 112, 112, 1);

            }

            .buttons {
              width: 100%;
              height: auto;
              margin-top: 25px;
              display: block;

              .button-client {
                background-color: rgba(45, 186, 108, 1);
                text-decoration: none;
                color: white;
                cursor: pointer;
                border-radius: 8px;
                transition: 0.3s;
                display: block;
                text-align: center;

                &:hover {
                  background-color: rgb(37, 154, 90);
                }
              }

              .button-driver {
                margin-top: 10px;
                display: block;
                background-color: rgba(246, 248, 250, 1);
                text-decoration: none;
                color: rgba(20, 20, 20, 1);
                cursor: pointer;
                border-radius: 8px;
                transition: 0.3s;
                text-align: center;

                &:hover {
                  background-color: rgb(231, 233, 236);
                }
              }

            }
          }
        }

        .right_side {
          display: none;
        }

      }
    }

    .usually-wrapper {
      padding: 20px 15px;

      .title {
        font-size: 24px;
      }

      .bottom-contents {
        margin-top: 10px;
        width: 100%;
        display: block;

        .use-card {
          margin-top: 20px;
          width: 100%;

          .icon-circle {
            margin: 0 auto;
          }

          .name {
            text-align: center;
          }

          .des {
            text-align: center;
          }
        }
      }
    }

    .section_two {
      .main_card {
        padding: 20px 15px;

        .title {
          font-size: 24px;
        }

        .header {
          overflow-x: auto;
          margin-top: 30px;
          width: 100%;
          display: flex;
          align-items: center;

          .item-tab {

          }

          .tab-active {
            background-color: $Color1;
            border: none;
            color: white;
          }
        }

        .header-tarifs {
          height: 60px;
          overflow-x: auto;
          margin-top: 30px;

          .item-tab {
            cursor: pointer;
            margin-right: 15px;
            color: rgba(170, 172, 173, 1);
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 500;
            font-size: 14px;
            transition: 0.3s;
            position: relative;

            &::after {
              position: absolute;
              bottom: -10px;
              content: "";
              width: 100%;
              height: 4px;
              background-color: transparent;
              border-radius: 50px;
            }

            &:hover {
              color: rgba(20, 20, 20, 1);

              &::after {
                background-color: rgba(45, 186, 108, 1);
              }
            }
          }

          .tab-active {
            &::after {
              background-color: rgba(45, 186, 108, 1);
            }

            color: rgba(20, 20, 20, 1);
          }

        }

        .body {
          padding-top: 40px;
          height: max-content;
          display: block;

          .left-side {
            width: 100%;
            height: max-content;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .form-box {
              margin-top: 20px;
              width: 80%;

              label {
                font-size: 14px;
              }

              select {
                border: 1px solid #00c389;
                margin-top: 6px;
                padding-left: 10px;
                padding-right: 10px;
                width: 100%;
                height: 40px;
                border-radius: 10px;

                &:focus {
                  outline: none;
                }
              }
            }
          }

          .right-side {
            width: 100%;
            height: max-content;
            display: block;
            padding-left: 0px;

            .item-lists {
              margin-top: 12px;
              width: 100%;
              font-size: 16px;
              line-height: 20px;
              display: block;
              align-items: center;
              justify-content: center;
              border-bottom: 1px solid rgba(0, 0, 0, 0.12);
              padding-bottom: 8px;
              padding-left: 40px;

              .title-info {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin-top: 30px;

                img {
                  width: 250px;
                  margin: 10px auto;
                }

                .name {
                  text-align: center;
                  margin-top: 20px;
                  font-size: 20px;
                  font-weight: bold;
                }

                .price {
                  b {
                    color: #00c389;
                    font-size: 22px;
                  }

                  color: #2b2b2b;
                  font-size: 20px;
                }
              }
            }
          }
        }
      }
    }

    .usually-wrapper-step {
      margin-top: 40px;
      padding: 20px 15px;

      .title {
        font-size: 24px;
        line-height: 32px;
      }

      .bottom-contents {
        margin-top: 32px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .use-card {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          .icon-circle {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            font-weight: bold;
            font-size: 18px;

            img {
              width: 55%;
            }

          }

          .name {
            margin-top: 12px;
            font-weight: 600;
            color: rgba(20, 20, 20, 1);
            font-size: 18px;
            line-height: 28px;
          }

          .des {
            margin-top: 10px;
            color: rgba(111, 112, 112, 1);
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            text-align: center;
          }
        }

        img {
          margin: 30px auto !important;
          width: 24px;
          transform: rotate(90deg);
        }
      }
    }

    .count-wrapper {
      margin-top: 40px;
      padding: 20px 20px;

      .title {
        font-size: 24px;
        line-height: 32px;
      }

      .des {
        margin-top: 10px;
        font-size: 16px;
      }

      .counts {
        margin-top: 20px;
        flex-wrap: wrap;

        .count {
          width: 50%;
          margin-top: 20px;

          .num {
            font-size: 40px;
          }

          .text {
            font-weight: 400;
            font-size: 16px;
            color: rgba(170, 172, 173, 1);
            letter-spacing: -0.08px;
            line-height: 24px;
          }

        }
      }
    }

    .quations-container {
      padding: 20px 15px;
      margin: 0;
      width: 100%;

      .title {
        font-size: 24px;
      }

      .quation {
        width: 90%;
        padding: 10px;
        margin: 0 auto;

        .top-side {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .number {
            font-size: 32px;
          }

          .title {
            width: 70%;
            font-size: 20px;
            line-height: 24.4px;
          }

          .button {
            width: 32px;
            height: 32px;
          }
        }

        .des-quation {
          margin: 10px auto;
          width: 70%;
          font-size: 16px;
        }
      }
    }

    .home_sections {
      padding: 20px 15px;

      .title-comment {
        font-size: 24px;
      }

      .saction_one {
        width: 80%;
        margin: 10px auto;
        height: auto;
        border-radius: 20px;
        display: block;

        .left_side {
          padding: 20px;
          width: 100%;
          height: 100%;

          .top_text {
            font-size: 24px;
            line-height: 40px;
          }

          .bottom_btns {
            width: 100%;
            justify-content: center;

            .app-btn {
              .left {
                img {
                  width: 25px;
                }
              }

              .right {
                margin-left: 10px;

                .top-text {
                  font-size: 10px;
                  line-height: 10px;
                }

                .bottom-text {
                  font-size: 12px;
                  font-weight: bold;
                }
              }
            }
          }
        }

        .right_side {
          width: 100%;
          display: flex;
          justify-content: center;

          img {
            margin-top: 20px;
            margin-left: 0px;
            width: 90%;
          }
        }
      }

      .saction_one-client {
        width: 80%;
        height: auto;
        border-radius: 20px;
        display: block;
        margin: 10px auto;

        .left_side {
          padding: 20px;
          width: 100%;
          height: 100%;

          .top_text {
            font-size: 24px;
            line-height: 40px;
          }

          .bottom_btns {
            width: 100%;
            justify-content: center;

            .app-btn {
              .left {
                img {
                  width: 25px;
                }
              }

              .right {
                margin-left: 10px;

                .top-text {
                  font-size: 10px;
                  line-height: 10px;
                }

                .bottom-text {
                  font-size: 12px;
                  font-weight: bold;
                }
              }
            }
          }
        }

        .right_side {
          width: 100%;
          display: flex;
          justify-content: center;

          img {
            margin-top: 20px;
            margin-right: 0px;
            margin-left: 0px;
            width: 90%;
          }
        }
      }

      .carousel-comment {
        margin: 10px auto;
        width: 90%;

        .slide img {
          border-radius: 50%;
          object-fit: cover;
          width: 120px;
          height: 120px;
          margin: 0 auto;
        }

        .slide {
          margin-top: 30px;
          transform: scale(0.6);
        }

        .activeSlide {
          transform: scale(1.05);
        }

        .des-person {
          width: 100%;
          margin: 10px auto;
          font-size: 16px;
        }

        .name-person {
          margin-top: 10px;
          font-size: 22px;
        }
      }

    }

    .form-wrapper {
      padding: 20px 15px;

      .title {
        margin: 0 auto;
        width: 100%;
        font-size: 24px;
      }

      .des {
        margin: 10px auto;
        width: 100%;
        font-size: 16px;
      }

      .form-box {
        width: 90%;
        display: block;
        margin: 20px auto;

        .input-box {
          margin-top: 15px;

          label {
            display: block;
            font-size: 13px;
            color: rgba(20, 20, 20, 1);
            line-height: 20px;
            font-weight: 4000;
            margin-bottom: 8px;
          }

          input {
            padding-left: 15px;
            width: 100%;
            height: 45px;
            border-radius: 10px;
            border: none;
            background-color: rgba(246, 248, 250, 1);
            margin-right: 15px;

            &:focus {
              outline: 1px solid rgba(45, 186, 108, 1);
            }
          }
        }

        .send-btn {
          margin-top: 20px;
          margin-left: 0px;
        }
      }

    }
  }
}